@import '../styles/global.css';

.header {
  background: linear-gradient(135deg, var(--primary-dark) 0%, var(--secondary-dark) 50%, var(--tertiary-dark) 100%);
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.header-title {
  margin: 0;
  font-size: 24px;
  color: var(--text-color);
  text-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color), 0 0 30px var(--glow-color);
}

.header-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header-nav li {
  margin: 0 15px;
}

.header-nav a {
  color: var(--highlight-color);
  text-decoration: none;
  font-size: 18px;
  position: relative;
  padding: 5px 0;
  transition: color 0.3s;
}

.header-nav a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--highlight-color);
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.header-nav a:hover {
  color: var(--glow-color);
}

.header-nav a:hover::after {
  width: 100%;
}

.header-icons {
  display: flex;
  align-items: center;
}

.icon {
  color: var(--highlight-color);
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  color: var(--glow-color);
}
