.scoreContainer {
    display: flex;
    align-items: center;
    background-color: var(--highlight-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
    margin-right: 10px;
  }
  
  .starIcon {
    color: var(--text-color);
    margin-right: 5px;
  }
  
  .scoreDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .scoreValue {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .scoreLabel {
    color: var(--text-color);
    font-size: 0.875rem;
  }