/* .favoriteList {
  padding: 20px;
  background-color: var(--secondary-dark);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
} */

.title {
  margin-bottom: 16px;
  color: var(--highlight-color);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.animeGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.noFavorites {
  color: var(--subtext-color);
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
}