.mainContent {
    display: flex;
    flex-direction: column;
  }
  
  .animeTitle {
    font-size: 36px;
    color: var(--highlight-color);
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .titleAndScores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .animeSubtitle {
    font-size: 18px;
    color: var(--subtext-color);
    margin: 20px 0;
  }
  
  .animeTags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }
  
  .animeTag {
    font-size: 14px;
    background-color: var(--secondary-dark);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text-color);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .scoreSection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  @media (max-width: 768px) {
    .titleAndScores {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .animeTitle {
      font-size: 28px;
    }
  
    .scoreSection {
      align-items: flex-start;
      margin-top: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .animeTitle {
      font-size: 24px;
    }
  
    .animeSubtitle {
      font-size: 16px;
    }
  
    .animeTag {
      font-size: 12px;
    }
  }