.animeSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, var(--secondary-dark) 0%, var(--secondary-light) 100%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    max-width: 300px;
    height: fit-content;
  }
  
  .animeImageContainer {
    position: relative;
    width: 100%;
  }
  
  .animeImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .scoreBadge {
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    align-items: center;
  }
  
  .sidebarActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  
  .rateButton,
  .favoriteButton {
    background-color: var(--highlight-color);
    color: var(--text-color);
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .rateButton:hover,
  .favoriteButton:hover {
    background-color: var(--highlight-color-dark);
    transform: scale(1.05);
  }
  
  .animeMeta {
    margin-top: 20px;
    width: 100%;
  }
  
  .animeMeta p {
    margin: 10px 0;
    font-size: 16px;
    color: var(--text-color);
  }
  
  .animeMeta p strong {
    font-weight: bold;
    color: var(--highlight-color);
  }
  
  .rtl .animeMeta {
    text-align: right;
    direction: rtl;
  }
  
  .ltr .animeMeta {
    text-align: left;
    direction: ltr;
  }
  
  @media (max-width: 768px) {
    .animeSidebar {
      padding: 10px;
    }
  
    .rateButton,
    .favoriteButton {
      padding: 8px;
    }
  
    .animeMeta p {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .animeSidebar {
      padding: 10px;
    }
  
    .rateButton,
    .favoriteButton {
      padding: 6px;
    }
  
    .animeMeta p {
      font-size: 12px;
    }
  }