.mainContent {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--primary-dark);
  border-radius: 12px;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.animeTitle {
  font-size: 36px;
  color: var(--highlight-color);
  margin-bottom: 10px;
  font-weight: bold;
}

.titleAndScores {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.animeSubtitle {
  font-size: 18px;
  color: var(--subtext-color);
  margin: 20px 0;
  font-family: 'Roboto', sans-serif; /* Change to a more appealing font */
  line-height: 1.6; /* Improve readability */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Add subtle text shadow */
}

.animeTags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.animeTag {
  font-size: 14px !important;
  background-color: var(--secondary-dark) !important;
  padding: 5px 10px !important;
  border-radius: 5px !important;
  color: var(--badge-text-light) !important;
  margin-right: 10px;
  margin-bottom: 10px;
}

.scoreSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;
}

.hiddenH1 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  display: inline;
  color: inherit;
}

@media (max-width: 1024px) {
  .mainContent {
    padding: 15px;
  }

  .animeTitle {
    font-size: 32px;
  }

  .animeSubtitle {
    font-size: 17px;
  }

  .animeTag {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .titleAndScores {
    flex-direction: column;
    align-items: flex-start;
  }

  .animeTitle {
    font-size: 28px;
  }

  .scoreSection {
    align-items: flex-start;
    margin-top: 10px;
  }

  .animeSubtitle {
    font-size: 16px;
  }

  .animeTag {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .mainContent {
    padding: 10px;
  }

  .animeTitle {
    font-size: 24px;
  }

  .animeSubtitle {
    font-size: 15px;
  }

  .animeTag {
    font-size: 11px;
  }
}