.tabsContainer {
  width: 100%;
  background-color: var(--primary-dark) !important;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden !important;
}

.tabs {
  background-color: var(--secondary-dark) !important;
  border-bottom: 1px solid var(--highlight-color) !important;
}

.tab {
  color: var(--text-color) !important;
  font-weight: bold !important;
  text-transform: none !important;
  padding: 12px 16px !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
  position: relative;
}

.tab:hover {
  background-color: var(--highlight-color);
}

.tab.Mui-selected {
  background-color: var(--highlight-color) !important;
  color: var(--primary-dark) !important;
}


.tabNotSelected {
  color: var(--text-color) !important;
}

.tabContent {
  padding: 20px !important;
  background-color: var(--primary-dark) !important;
}

.detailsContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

@media (max-width: 1024px) {
  .detailsContainer {
    grid-template-columns: 1fr;
  }
}