.tabsContainer {
    width: 100%;
  }
  
  .tabContent {
    padding: 20px;
  }
  
  .detailsContainer {
    display: flex;
    gap: 20px;
  }
  
  @media (max-width: 1024px) {
    .detailsContainer {
      flex-direction: column;
    }
  }