.animeEpisodes {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--primary-dark);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 15px;
  color: var(--highlight-color);
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.watchedCount {
  margin-bottom: 15px;
  color: var(--subtext-color);
  text-align: center;
  font-size: 1.2rem;
}

.episodeListContainer {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 500px;
}

.episodeList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.episodeItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 10px 15px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.episodeItem:last-child {
  border-bottom: none;
}

.episodeItem:hover {
  background-color: var(--secondary-dark);
  transform: scale(1.02);
}

.episodeItem.watched {
  background-color: var(--watched-color); /* Define this color in your CSS variables */
}

.episodeTitle {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: bold;
  flex-grow: 1;
}

.noEpisodes {
  color: var(--subtext-color);
  text-align: center;
  font-size: 1.2rem;
}

.eyeIcon {
  margin-left: 10px;
}

/* Custom scrollbar styles */
.episodeListContainer::-webkit-scrollbar {
  width: 8px;
}

.episodeListContainer::-webkit-scrollbar-thumb {
  background-color: var(--highlight-color);
  border-radius: 4px;
}

.episodeListContainer::-webkit-scrollbar-track {
  background-color: var(--secondary-dark);
}

/* Responsive design */
@media (max-width: 600px) {
  .animeEpisodes {
    padding: 15px;
  }

  .title {
    font-size: 1.2rem;
  }

  .episodeItem {
    padding: 8px 10px;
  }

  .episodeTitle {
    font-size: 0.8rem;
  }
}