.listPage {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.pageTitle {
    margin-bottom: 20px;
    color: var(--highlight-color);
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center; /* Center the grid items */
}

.noItemsMessage {
    color: var(--subtext-color);
    text-align: center;
    margin-top: 20px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.errorMessage {
    text-align: center;
    margin-top: 20px;
}