@import '../styles/global.css';

.animeDetailsContainer {
  padding: 20px;
  color: var(--text-color);
  background-color: var(--primary-dark);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  max-width: 1200px;
  margin: 0 auto;
}

.hiddenH1 {
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.animeDetailsGrid {
  display: flex;
  gap: 20px;
}

.animeSidebar {
  flex: 0 0 300px;
  position: sticky;
  top: 20px;
}

.animeMainContent {
  flex: 1;
}

.animeEpisodes {
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .animeDetailsGrid {
    flex-direction: column;
  }

  .animeSidebar {
    position: relative;
    top: 0;
    order: 2; /* Sidebar appears second */
  }

  .animeMainContent {
    order: 1; /* Main content appears first */
  }

  .animeEpisodes {
    order: 3; /* Episodes appear last */
  }
}