.episodePage {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  background-color: var(--primary-dark);
  color: var(--text-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.headerSection {
  grid-column: span 2;
  text-align: center;
  margin-bottom: 10px;
}

.streamingSection {
  background-color: var(--secondary-dark);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.episodeListSection {
  background-color: var(--secondary-dark);
  padding: 20px;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 600px; /* Adjust as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

.episodeListTitle {
  margin-bottom: 10px;
  color: var(--highlight-color);
  direction: rtl;
  white-space: pre-wrap; /* Ensures text wraps and respects line breaks */
  word-break: break-word; /* Ensures long words break to fit within the container */
}

.episodeList {
  max-height: 500px;
  overflow-y: auto;
}

.episodeTitle {
  margin-bottom: 10px;
  color: var(--highlight-color);
}

.episodeNumber {
  margin-bottom: 5px;
  color: var(--highlight-color);
}

.serverTabs {
  margin-bottom: 5px;
}

.serverTab {
  color: var(--text-color);
  background-color: var(--primary-dark);
  border: none;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.serverTab:hover {
  background-color: var(--secondary-light);
}

.videoContainer {
  background-color: var(--secondary-dark);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.downloadSection {
  grid-column: span 2;
  background-color: var(--secondary-dark);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.downloadTitle {
  margin-bottom: 10px;
  color: var(--highlight-color);
}

.downloadButton {
  margin: 5px;
  background-color: var(--highlight-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.downloadButton:hover {
  background-color: var(--tertiary-dark);
}

@media (max-width: 768px) {
  .episodePage {
    grid-template-columns: 1fr;
  }

  .headerSection {
    grid-column: span 1;
  }

  .downloadSection {
    grid-column: span 1;
  }
}