.home {
    padding: 20px;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-dark);
}

.heroSwiper {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.heroImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.heroImage:hover {
    transform: scale(1.05);
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.sectionTitle {
    font-size: 2rem;
    color: var(--highlight-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.moreButton {
    background-color: var(--highlight-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.moreButton:hover {
    background-color: var(--secondary-light);
    transform: scale(1.05);
}

.swiper {
    margin-bottom: 20px;
    background: var(--secondary-light);
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.animeCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.animeCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.animeImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.animeTitle {
    font-size: 1.2rem;
    text-align: center;
    color: var(--text-color);
}

@media (max-width: 768px) {
    .sectionTitle {
        font-size: 1.8rem;
    }

    .moreButton {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .sectionTitle {
        font-size: 1.5rem;
    }

    .moreButton {
        padding: 6px 12px;
    }
}