.profileContainer {
  padding: 20px;
  background-color: var(--primary-dark);
  color: var(--text-color);
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.userDetails {
  margin-bottom: 20px;
}

.userDetails p {
  margin: 5px 0;
}

.favorites, .watchedEpisodes {
  margin-bottom: 20px;
}

.favorites h3, .watchedEpisodes h3 {
  margin-bottom: 10px;
}

.favorites ul, .watchedEpisodes ul {
  list-style: none;
  padding: 0;
}

.favorites li, .watchedEpisodes li {
  background-color: var(--secondary-dark);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}