.recentEpisodesPage {
    background-color: var(--primary-dark);
    color: var(--text-color);
    min-height: 100vh;
    padding: 20px 0;
}

.breadcrumbsContainer {
    margin-bottom: 20px;
}

.pageTitle {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: var(--highlight-color);
    font-weight: bold;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center; /* Center the grid items */
}

.noItemsMessage {
    color: var(--subtext-color);
    text-align: center;
    margin-top: 20px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.errorMessage {
    text-align: center;
    margin-top: 20px;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 20px 0;
}

@media (max-width: 600px) {
    .recentEpisodesPage {
        padding: 10px 0;
    }

    .breadcrumbsContainer {
        margin-bottom: 10px;
    }

    .pageTitle {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .paginationContainer {
        margin-top: 20px;
        padding: 10px 0;
    }
}