.searchBar {
    display: flex;
    align-items: center;
    background-color: var(--primary-dark); /* Updated to use primary dark color */
    border-radius: 20px; /* Reduced border radius */
    padding: 3px 8px; /* Reduced padding */
    width: 100%;
    max-width: 400px; /* Reduced max width */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.searchBar:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.searchInput {
    flex-grow: 1;
    padding: 8px; /* Reduced padding */
    border: none;
    outline: none;
    background-color: var(--secondary-light); /* Updated to use secondary light color */
    color: var(--text-color); /* Updated to use text color */
    border-radius: 20px 0 0 20px; /* Reduced border radius */
}

.searchButton {
    background-color: var(--highlight-color); /* Updated to use highlight color */
    color: var(--text-color); /* Updated to use text color */
    border: none;
    padding: 8px; /* Reduced padding */
    border-radius: 0 20px 20px 0; /* Reduced border radius */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: var(--secondary-light); /* Updated to use secondary light color for hover */
}