.searchBar {
    display: flex;
    align-items: center;
    background-color: var(--primary-dark); /* Updated to use primary dark color */
    border: 1px solid var(--secondary-dark); /* Updated to use secondary dark color */
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchInput {
    border: none;
    outline: none;
    padding: 10px;
    flex-grow: 1;
    border-radius: 5px 0 0 5px;
    background-color: var(--secondary-light); /* Updated to use secondary light color */
    color: var(--text-color); /* Updated to use text color */
}

.searchButton {
    background-color: var(--highlight-color); /* Updated to use highlight color */
    color: var(--text-color); /* Updated to use text color */
    border: none;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: var(--secondary-light); /* Updated to use secondary light color for hover */
}