.searchBar {
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, var(--primary-dark) 0%, var(--secondary-dark) 100%);
    border-radius: 25px; /* Increased border radius */
    padding: 5px 10px; /* Adjusted padding */
    width: 100%;
    max-width: 450px; /* Increased max width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increased shadow for better depth */
    transition: box-shadow 0.3s ease;
}

.searchBar:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Increased shadow on hover */
}

.searchInput {
    flex-grow: 1;
    padding: 10px; /* Adjusted padding */
    border: none;
    outline: none;
    background-color: var(--background-light); /* Updated to use background light color */
    color: var(--text-color); /* Ensure text color is applied */
    border-radius: 25px 0 0 25px; /* Increased border radius */
}

.searchButton {
    background-color: var(--highlight-color); /* Ensure highlight color is applied */
    color: var(--text-color); /* Ensure text color is applied */
    border: none;
    padding: 10px; /* Adjusted padding */
    border-radius: 0 25px 25px 0; /* Increased border radius */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: var(--secondary-light); /* Ensure secondary light color for hover */
}