.animeCardLink {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}

.animeCard {
  width: 100%;
  max-width: 320px; /* Ensure a maximum width */
  height: auto; /* Allow height to adjust based on content */
  margin: 8px;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-dark);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.animeCard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.cardCover {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.statusBadge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--highlight-color);
  color: white;
  padding: 5px 12px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  z-index: 1; /* Ensure badge is on top */
}

.statusBadgeCompleted {
  background-color: red;
}

.statusBadgeOngoing {
  background-color: green;
}

.statusBadgeUpcoming {
  background-color: orange;
}

.cardContent {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(180deg, transparent, var(--secondary-dark));
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--text-color);
  z-index: 0; /* Ensure content is below the badge */
}

.title {
  margin-inline-start: 20px; /* Add left margin for space */
  font-size: 1.1rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  width: calc(100% - 30px); /* Adjust width to account for left and right margins */
  direction: ltr;
}

.lastViewed {
  font-size: 0.9rem;
  color: var(--subtext-color);
  margin-bottom: 0%;
}

.badgesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1; /* Ensure badges are on top */
}

.typeBadge {
  background-color: var(--highlight-color);
  color: var(--text-color);
  padding: 5px 12px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.episodeBadge {
  background-color: var(--highlight-color);
  color: white;
  padding: 5px 12px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .animeCard {
    max-width: 100%; /* Allow card to take full width on smaller screens */
    height: auto; /* Adjust height based on content */
  }

  .cardContent {
    position: relative; /* Make content position relative */
    background: none; /* Remove background gradient */
  }

  .badgesContainer {
    position: relative; /* Make badges position relative */
    bottom: auto;
    right: auto;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1rem; /* Adjust title font size for smaller screens */
  }

  .lastViewed {
    font-size: 0.8rem; /* Adjust last viewed font size for smaller screens */
  }

  .typeBadge,
  .episodeBadge {
    font-size: 10px; /* Adjust badge font size for smaller screens */
    padding: 3px 8px; /* Adjust badge padding for smaller screens */
  }
}