.breadcrumbs {
    margin-bottom: 30px;
    padding: 10px 20px;
    background-color: var(--secondary-dark);
    border-radius: 8px;
  }
  
  .separator {
    color: var(--subtext-color);
  }
  
  .link {
    display: flex;
    align-items: center;
    color: var(--subtext-color);
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  .link:hover {
    color: var(--highlight-color);
    background-color: var(--hover-background-color);
  }
  
  .icon {
    margin-inline-end: 8px; /* Logical property for margin-right */
    font-size: 1.5rem;
  }
  
  .current {
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding: 5px 10px;
  }